<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.CtrlMix.BackgroundService</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>/Users/sam/python/ctrl_mix/start.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>~/Library/Logs/com.CtrlMix.BackgroundService.log</string>
    <key>StandardErrorPath</key>
    <string>~/Library/Logs/com.CtrlMix.BackgroundService.error.log</string>
</dict>
</plist>